// |------------------------------------------------------
// |------------------------------------------------------
// | Miscellaneous
// |------------------------------------------------------
// |------------------------------------------------------

$easing:       ease-out !default;
$radius-small: 2px !default;
$radius:       3px !default;
$radius-large: 5px !default;
$speed:        86ms !default;
// $output-bourbon-deprecation-warnings: false;
