<header class="container">
    <nav class="nav">
        <h1 class="nav-left">
            <a class="nav-item is-brand" href="{{ site.url }}">
                <img src="{{site.url}}/assets/images/bulma-logo.png" alt="{{ site.title }}">
            </a>
        </h1>

        <span id="nav-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <ul id="nav-menu" class="nav-right nav-menu">
            <li><a class="nav-item {% if page.route == 'index' %}is-active{% endif %}" href="{{ site.url }}/">Home</a></li>
            <li><a class="nav-item {% if page.route == 'index' %}is-active{% endif %}" href="{{ site.url }}/">Games</a></li>
            <li><a class="nav-item {% if page.route == 'index' %}is-active{% endif %}" href="{{ site.url }}/">Ranking</a></li>
        </ul>
    </nav>
</header>
