// |------------------------------------------------------
// |------------------------------------------------------
// | Reset
// |------------------------------------------------------
// |------------------------------------------------------

html {
    box-sizing: border-box;
    background-color: $body-background;
    font-size: $body-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: $render-mode;
}

body {
  color: $text;
  font-size: 1rem;
  font-weight: $primary-medium;
  line-height: 1.5; 
}

body,
button,
input,
select,
textarea {
    font-family: $family-primary;
}

// Blocks
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

// List
ul {
    list-style: none;
}

// Form
button,
input,
select,
textarea {
    margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: baseline;
}

// HTML5
article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

// Box sizing
* {
    box-sizing: inherit;
    &:after,
    &:before {
        box-sizing: inherit;
    }
}

// Inline
small {
    font-size: 0.8em;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

strong {
    color: $text-strong;
    font-weight: $primary-bold;
}

// Media
audio,
embed,
img,
object,
video {
    height: auto;
    max-width: 100%;
}

// Iframe
iframe {
    border: 0;
}

// Code
code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: $family-code;
}

// Table
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th {
        color: $text-strong;
    }

    td,
    th {
        padding: 0;
        text-align: left;
        vertical-align: top;
        text-align: left;
    }

}
